[submodule "plugin-tom-farcaster"]
	path = plugin-tom-farcaster
	url = https://github.com/elizaos-plugins/plugin-farcaster.git
[submodule "plugin-farcaster"]
	path = plugin-farcaster
	url = https://github.com/elizaos-plugins/plugin-farcaster.git
[submodule "plugin-twitter"]
	path = plugin-twitter
	url = https://github.com/elizaos-plugins/plugin-twitter.git